@import "~base/variables";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins/breakpoints";
@import "~base/utilities/shapes";
@import "~base/utilities/responsiveUtils";
@import "~base/utilities/swatch";

.carousel-inner {
    .carousel-item.active,
    .carousel-item-next,
    .carousel-item-prev {
        display: flex;
    }
    
    .carousel-item-right.active,
    .carousel-item-next {
        transform: translateX(25%);
    }
    
    .carousel-item-left.active,
    .carousel-item-prev {
        transform: translateX(-25%);
    }
    
    .carousel-item-right,
    .carousel-item-left {
        transform: translateX(0);
    }
}

.size-buttons {
    height: 3em;

    &::-moz-focus-inner {
        border: 0;
    }
    
    &:focus {
        outline: none;
    }
}

.quantity-select select::-ms-expand {
    display: none;
}

.product-detail .attributes .swatch-circle {
    // $white will be replaced by color image background in ISML
    @include swatch(2.5em, $white);
}

.product-detail [disabled] .swatch-circle,
.product-detail .swatch-circle.unselectable {
    cursor: not-allowed;

    &.color-value.selected::after {
        background-color: $gray-700;
    }
}

label.color~a:hover {
    // Removes weird dash after the swatch circle on hover.
    text-decoration: none;
}

.product-description {
    @include media-breakpoint-up(sm) {
        margin-bottom: 0.625em; 
    }
}

.description-and-detail {
    margin-top: 2em;

    @include media-breakpoint-only(xs) {
        margin-top: 0;

        .title {
            font-size: 1.5rem;
            margin-bottom: 0;
            font-family: 'Dosis', sans-serif;
        }

        >div:last-child {
            margin-bottom: 1em;
        }
    }

    .description {

        @include media-breakpoint-up(sm) {
            margin-bottom: 2em;
        }
    }

    .content {

        @include media-breakpoint-only(xs) {
            margin-top: 1em;
        }
    }
}

label.availability {
    padding-right: 0.3125em;
}

@include media-breakpoint-up(sm) {
    .product-number-rating,
    .product-description,
    .size-area {
        border-bottom: 1px solid $hr-border-color;
    }
}

.product-number-rating .ratings {

    @include media-breakpoint-up(sm) {
        margin-top: 0.625em;
        margin-bottom: 0.625em;
    }

    @include media-breakpoint-only(xs) {
        background-color: $white;
        margin-top: -1.875em;
        /* 30/16 */
        margin-right: -0.9375em;
        /* 15/16 */
        padding: 0.1875em;
        /* 3/16 */
    }
}

.product-number {
    color: $product-number-grey;
    font-size: 0.875em;
    padding-bottom: 0.938em;
    padding-top: 0.938em;
}

.promotions {
    font-weight: normal;
    text-align: center;
    height: 85%;

    div.collapsible-xl button.callout {
        font-size: 1.25em;
        padding-bottom: 1.25rem;
        padding-top: 1.25rem;
        color: $danger;

        @include media-breakpoint-up(sm) {
            font-size: 1.375em;
        }

        &::after {
            color: $black;
        }
    }
}

.product-breadcrumb .breadcrumb {
    border-bottom: none;
    margin-left: -1rem;
    margin-bottom: 0;

    @include media-breakpoint-down(md) {
        border-top: 1px solid $grey3;
    }
}

.price {
    font-size: 1.5rem;
}

.product-options {
    margin-top: 1.25em;
}

.size-chart {
    .size-chart-collapsible {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.5s;
        transition-timing-function: cubic-bezier(0, 1, 0, 1);

        &.active {
            max-height: 100%;
            transition-timing-function: ease-in-out;
        }
    }
}

.color-attribute {
    border: none;
    padding: 0;
    background: none;
}

.non-input-label {
    display: block;
    margin-bottom: 0.5rem;
}

.product-grid {

    @include media-breakpoint-down(xs) {
        padding-top: 0.938em;

        .col-6 {
            padding-left: 5px;
            padding-right: 5px;
        }
    }
}