@import "~base/product/detail";

.quantity-select {
    background: none;
}

.size-buttons {
    height: 3em;

    &::-moz-focus-inner {
        border: 0;
    }
    
    &:focus {
        outline: none;
    }
}

.product-description {
    @include media-breakpoint-up(sm) {
        margin-bottom: 0.625em; 
    }
}

@include media-breakpoint-up(sm) {
    .product-number-rating,
    .product-description,
    .size-area {
        border-bottom: 1px solid $hr-border-color;
    }
}

.product-number-rating .ratings {

    @include media-breakpoint-up(sm) {
        margin-top: 0.625em;
        margin-bottom: 0.625em;
    }

    @include media-breakpoint-only(xs) {
        background-color: $white;
        margin-top: -1.875em;
        /* 30/16 */
        margin-right: -0.9375em;
        /* 15/16 */
        padding: 0.1875em;
        /* 3/16 */
    }
}

.attributes {
    padding-left: 15px;
    padding-right: 15px;
}